{% extends "base.html" %}

{% block content %}

<a href="{% url 'employee_cbv:employee_list' %}">Employee List</a><br>
<a href="{% url 'auth_ua:auth_ua_list' %}">Login List</a><br>
<a href="{% url 'employee_attendance:employee_attendance_list' %}">Employee Attedace</a><br>
<a href="{% url 'holidays:holidays_list' %}">Holidays List</a><br>
{% comment %} <a href="{% url 'employee_fbv_user:employee_list' %}">Function Based Views with User Access</a><br>     {% endcomment %}

{% endblock %}