{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'auth_ua:auth_ua_list' %}">Authentification</a>: Delete?</h2>

<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?<br>
    <input type="submit" value="Delete" />
</form>

{% endblock %}