{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'auth_ua:auth_ua_list' %}">Authentification</a>: Edit</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}