{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'auth_ua:auth_ua_list' %}">Authentification</a></h2>
 {% for USER in object_list %}
<a href="{% url 'auth_ua:auth_ua_new' %}">New</a>
<fieldset>
<table border="1">
    <h1>Table USER</h1>
<thead>
    <th>User Id     :</th>
    <th>Username    :</th>
    <th>First Name  :</th>
    <th>Last Name   :</th>
    <th>Email       :</th>
    <th>Password    :</th>
    <th>Email       :</th>
    <th></th>
    <th></th>
</thead>
<tbody>
    <td><a>{{ USER.id }} </a></td>
    <td><a>{{ USER.username }}</a></td>
    <td><a>{{ USER.first_name }}</a></td>
    <td><a>{{ USER.last_name}}</a></td>
    <td><a>{{ USER.email }}</a></td>
    <td><a>{{ USER.password }}</a></td>
    <td><a href="{% url 'auth_ua:auth_ua_edit' auth_ua.id %}">edit</a></td>
    <td><a href="{% url 'auth_ua:auth_ua_delete' auth_ua.id %}">delete</a></td>
</tbody>
{% endfor %}
{% comment %} <ul><li></li></ul> {% endcomment %}

</table>
</fieldset>
{% endblock %}

{% comment %} (No: {{ employee.no }})  {% endcomment %}
    {% comment %} (Name: {{ employee.name }})  {% endcomment %}
    {% comment %} (Position: {{ employee.position}})  {% endcomment %}
    {% comment %} (Address: {{ employee.address }})  {% endcomment %}
    {% comment %} (Phone: {{ employee.phone }})  {% endcomment %}
    {% comment %} (Email: {{ employee.email }}) {% endcomment %}
    {% comment %} <a href="{% url 'employee_cbv:employee_edit' employee.id %}">edit</a>
    <a href="{% url 'employee_cbv:employee_delete' employee.id %}">delete</a> {% endcomment %}