{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'holidays:holidays_list' %}">Holidays</a></h2>
 {% for holidays in object_list %}
 <fieldset>
<table border="1">
<thead>
    <th>Date                :</th>
    <th>National_Holidays   :</th>
    <th>Mass_Leave          :</th>>
</thead>
<tbody>
    <td><a>{{ holidays.date_f }}</a></td>
    <td><a>{{ holidays.national_holidays }}</a></td>
    <td><a>{{ holidays.cuti_bersama}}</a></td>
    <td><a href="{% url 'holidays:holidays_edit' holidays.id %}">edit</a></td>
    <td><a href="{% url 'holidays:holidays_delete' holidays.id %}">delete</a></td>
</tbody>
{% endfor %}
{% comment %} <ul><li></li></ul> {% endcomment %}

<a href="{% url 'holidays:holidays_new' %}">New</a>
</table>
</fieldset>
{% endblock %}

{% comment %} (No: {{ employee.no }})  {% endcomment %}
    {% comment %} (Name: {{ employee.name }})  {% endcomment %}
    {% comment %} (Position: {{ employee.position}})  {% endcomment %}
    {% comment %} (Address: {{ employee.address }})  {% endcomment %}
    {% comment %} (Phone: {{ employee.phone }})  {% endcomment %}
    {% comment %} (Email: {{ employee.email }}) {% endcomment %}
    {% comment %} <a href="{% url 'employee_cbv:employee_edit' employee.id %}">edit</a>
    <a href="{% url 'employee_cbv:employee_delete' employee.id %}">delete</a> {% endcomment %}