{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'employee_cbv:employee_list' %}">Employee CBV</a></h2>
 {% for employee in object_list %}
 <fieldset>
<table border="1">
<thead>
    <th>No          :</th>
    <th>Name        :</th>
    <th>Position    :</th>
    <th>Address     :</th>
    <th>Phone       :</th>
    <th>Email       :</th>
    <th></th>
    <th></th>
</thead>
<tbody>
    <td><a>{{ employee.no }}</a></td>
    <td><a>{{ employee.name }}</a></td>
    <td><a>{{ employee.position}}</a></td>
    <td><a>{{ employee.address }}</a></td>
    <td><a>{{ employee.phone }}</a></td>
    <td><a>{{ employee.email }}</a></td>
    <td><a href="{% url 'employee_cbv:employee_edit' employee.id %}">edit</a></td>
    <td><a href="{% url 'employee_cbv:employee_delete' employee.id %}">delete</a></td>
</tbody>
{% endfor %}
{% comment %} <ul><li></li></ul> {% endcomment %}

<a href="{% url 'employee_cbv:employee_new' %}">New</a>
</table>
</fieldset>
{% endblock %}

{% comment %} (No: {{ employee.no }})  {% endcomment %}
    {% comment %} (Name: {{ employee.name }})  {% endcomment %}
    {% comment %} (Position: {{ employee.position}})  {% endcomment %}
    {% comment %} (Address: {{ employee.address }})  {% endcomment %}
    {% comment %} (Phone: {{ employee.phone }})  {% endcomment %}
    {% comment %} (Email: {{ employee.email }}) {% endcomment %}
    {% comment %} <a href="{% url 'employee_cbv:employee_edit' employee.id %}">edit</a>
    <a href="{% url 'employee_cbv:employee_delete' employee.id %}">delete</a> {% endcomment %}