{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'employee_cbv:employee_list' %}">Employee CBV</a>: Edit</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}