{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'employee_cbv:employee_list' %}">Employee CBV</a>: Delete?</h2>

<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?<br>
    <input type="submit" value="Delete" />
</form>

{% endblock %}